body{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.block {
    width: 408px;
    height: 352px;
    border: 2px solid rgb(11, 60, 50);
    border-radius: 10px;

    margin-top: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;

    display: none;
}

.policy_number {
    font-weight: 700;
    font-size: 24px;
    color:rgb(11, 60, 50);
    margin-top: 40px;
}
.policy_expiration {
    font-weight: 700;
    font-size: 16px;
    color: rgb(11, 60, 50);
}

.policy_info_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-top: 41px;

    width: 100%;
}
.policy_info_container p {
    font-weight: 400;
    font-size: 16px;
}
.date_expiration{
    margin-top: 41px;
    font-weight: 700;
}
.policy_face{
    margin-top: 14px;
    font-weight: 700;
}
.policy_data{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-left: 20px;
}
.block_error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 408px;
    height: 141px;
    border: 2px solid rgb(11, 60, 50);
    border-radius: 10px;
}
.error_text{
font-size: 24px;
font-weight: 700;
text-align: center;
color: #0B3C32;

}